In [42]:
#import library python
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [43]:
dataset = pd.read_csv("InternetSpeed22.csv")

In [52]:
print(data['country'].unique())
print(data['broadband'].unique())
print(data['mobile'].unique())

['Monaco' 'Singapore' 'Hong Kong' 'Romania' 'Switzerland' 'Denmark'
 'Thailand' 'Chile' 'France' 'South Korea' 'Hungary' 'Liechtenstein'
 'United States' 'Spain' 'China' 'United Arab Emirates' 'Canada' 'Macau'
 'Japan' 'Sweden' 'Luxembourg' 'Andorra' 'New Zealand' 'Norway'
 'Netherlands' 'Israel' 'Portugal' 'Poland' 'Moldova' 'Taiwan' 'Kuwait'
 'Lithuania' 'Malta' 'Panama' 'Germany' 'Latvia' 'Finland' 'Belgium'
 'Ireland' 'San Marino' 'Slovenia' 'Slovakia' 'Qatar' 'Brazil' 'Barbados'
 'Malaysia' 'Italy' 'United Kingdom' 'Russia' 'Saudi Arabia' 'Austria'
 'Estonia' 'Serbia' 'Bulgaria' 'Trinidad and Tobago' 'Jordan' 'Australia'
 'Vietnam' 'Ukraine' 'Bahrain' 'Paraguay' 'Colombia' 'Philippines'
 'Uruguay' 'Belarus' 'Croatia' 'Oman' 'Guyana' 'India' 'Kazakhstan'
 'Bahamas' 'Montenegro' 'Argentina' 'Peru' 'Grenada' 'Costa Rica' 'Cyprus'
 'Mexico' 'South Africa' 'Saint Vincent and the Grenadines' 'Mongolia'
 'Saint Lucia' 'Ghana' 'Kyrgyzstan' 'Bosnia and Herzegovina' 'Laos'
 'Uzbekistan' 'Albania' 'Turkey' 'North Macedonia' 'Madagascar'
 'Ivory Coast' 'Belize' 'Bangladesh' 'Egypt' 'Mauritius' 'Greece'
 'Ecuador' 'Armenia' 'Jamaica' 'Tajikistan' 'Saint Kitts and Nevis'
 'Senegal' 'Dominica' 'Brunei' 'Nepal' 'Dominican Republic' 'Iraq'
 'Marshall Islands' 'Nicaragua' 'Palestine' 'Georgia' 'Cambodia'
 'Indonesia' 'Bolivia' 'Maldives' 'Morocco' 'El Salvador' 'Cape Verde'
 'Honduras' 'Rwanda' 'Sri Lanka' 'Liberia' 'Burkina Faso' 'Azerbaijan'
 'Seychelles' 'Bhutan' 'Lesotho' 'Venezuela' 'Guatemala' 'Western Sahara'
 'Micronesia' 'Gabon' 'Iran' 'Antigua and Barbuda' 'Mali' 'Togo' 'Fiji'
 'Myanmar' 'Haiti' 'Tanzania' 'Namibia' 'Kenya' 'Somalia' 'Djibouti'
 'Lebanon' 'Zimbabwe' 'Nigeria' 'Zambia' 'Benin' 'Vanuatu' 'Libya'
 'Suriname' 'Angola' 'Ethiopia' 'Cameroon' 'Pakistan' 'Papua New Guinea'
 'Sierra Leone' 'Uganda' 'Syria' 'Malawi' 'Gambia' 'Niger' 'Mauritania'
 'Botswana' 'Burundi' 'Tunisia' 'Algeria' 'Mozambique' 'Guinea'
 'Afghanistan' 'Equatorial Guinea' 'Sudan' 'Yemen' 'Turkmenistan' 'Cuba']
[261.82 255.83 254.7  232.17 229.96 227.91 225.17 217.6  214.04 212.57
 210.55 204.78 203.81 201.47 196.57 189.07 183.81 178.9  178.76 174.9
 172.05 171.44 170.51 168.25 165.   162.66 162.55 156.33 154.56 152.01
 149.37 147.05 144.06 137.38 136.66 135.22 135.05 125.12 122.55 121.4
 115.61 115.11 113.88 113.09 109.41 107.55 104.09 102.24  95.96  94.64
  94.31  88.49  86.77  86.75  85.8   84.12  82.73  78.34  76.82  73.95
  72.5   72.19  71.85  69.91  69.41  69.09  68.28  65.93  64.03  63.28
  61.75  60.03  58.87  58.73  57.07  56.39  55.11  54.88  54.75  53.77
  53.53  52.3   52.1   51.07  48.51  48.16  45.88  45.55  43.48  43.24
  42.84  40.64  40.62  40.31  39.97  39.85  39.08  39.07  38.95  37.84
  35.45  35.01  34.9   34.59  33.87  32.26  31.66  31.64  29.94  29.46
  28.61  28.32  27.83  27.8   27.42  27.21  27.04  26.94  26.93  26.26
  26.08  25.68  25.54  25.1   24.9   24.76  24.64  23.92  23.72  23.02
  22.54  22.5   21.36  21.24  20.82  20.76  20.69  20.67  19.77  19.58
  19.35  18.98  18.27  18.22  17.81  17.65  17.24  16.23  16.18  16.12
  15.93  14.86  14.17  13.94  13.84  13.68  13.56  13.55  12.72  12.7
  12.24  11.68  11.55  11.21  11.18  11.13  10.43   9.27   8.84   8.26
   7.95   7.92   7.59   4.11   4.01]
[   nan 105.01  83.58  59.67 135.7  112.03  56.9   21.23  86.51 202.61
  60.16 110.07  61.62 165.38 238.06  95.78  62.31  69.02 103.08 116.76
  75.91 177.72 106.98  48.3   59.91  57.23  42.99  95.51 157.18  66.25
  70.73  20.44  83.06  50.07  88.23  69.76  62.66  74.84  56.01 172.18
  33.92  31.34  55.41  86.56  28.99 155.97  71.81  75.29  53.82 142.27
  41.12  27.61 135.3   43.32  31.95  86.04  20.65  18.33  35.03  38.08
  19.41 114.76  91.21  17.89  31.74  44.48  29.77  24.82  34.01 144.64
  34.33  52.19  21.34  12.9   24.71  36.61  30.93  19.29  61.56  48.85
  64.02  18.36  13.43  24.95  30.28  92.54  24.62  34.53  44.23  16.15
  23.59  67.32  22.39  31.45  42.33  26.59   7.57  39.84  23.75  23.12
  22.57  66.9   39.52  26.85  30.84  16.58  40.69   7.68  29.69  35.48
  29.79  36.08  28.51  28.19  19.71  13.23  23.18  22.14  14.74  32.64
  24.74  18.98  16.03  42.97  25.87  26.17  31.18  19.82  19.02  19.21
  19.96  35.57  18.1   25.02   7.27  14.51]

In [53]:
dataset.describe()

        broadband      mobile
count  177.000000  136.000000
mean    72.672825   53.788235
std     66.461751   43.327121
min      4.010000    7.270000
25%     22.500000   24.402500
50%     43.480000   35.825000
75%    109.410000   69.205000
max    261.820000  238.060000

In [54]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

#data['country'] = label_encoder.fit_transform(data['country'])
#data['country']

categorical_dataset = ['country', 'broadband', 'mobile']

for i in categorical_dataset:
    print(dataset[i].unique())
    dataset[i] = label_encoder.fit_transform(dataset[i])
    print(dataset[i].unique())

['Monaco' 'Singapore' 'Hong Kong' 'Romania' 'Switzerland' 'Denmark'
 'Thailand' 'Chile' 'France' 'South Korea' 'Hungary' 'Liechtenstein'
 'United States' 'Spain' 'China' 'United Arab Emirates' 'Canada' 'Macau'
 'Japan' 'Sweden' 'Luxembourg' 'Andorra' 'New Zealand' 'Norway'
 'Netherlands' 'Israel' 'Portugal' 'Poland' 'Moldova' 'Taiwan' 'Kuwait'
 'Lithuania' 'Malta' 'Panama' 'Germany' 'Latvia' 'Finland' 'Belgium'
 'Ireland' 'San Marino' 'Slovenia' 'Slovakia' 'Qatar' 'Brazil' 'Barbados'
 'Malaysia' 'Italy' 'United Kingdom' 'Russia' 'Saudi Arabia' 'Austria'
 'Estonia' 'Serbia' 'Bulgaria' 'Trinidad and Tobago' 'Jordan' 'Australia'
 'Vietnam' 'Ukraine' 'Bahrain' 'Paraguay' 'Colombia' 'Philippines'
 'Uruguay' 'Belarus' 'Croatia' 'Oman' 'Guyana' 'India' 'Kazakhstan'
 'Bahamas' 'Montenegro' 'Argentina' 'Peru' 'Grenada' 'Costa Rica' 'Cyprus'
 'Mexico' 'South Africa' 'Saint Vincent and the Grenadines' 'Mongolia'
 'Saint Lucia' 'Ghana' 'Kyrgyzstan' 'Bosnia and Herzegovina' 'Laos'
 'Uzbekistan' 'Albania' 'Turkey' 'North Macedonia' 'Madagascar'
 'Ivory Coast' 'Belize' 'Bangladesh' 'Egypt' 'Mauritius' 'Greece'
 'Ecuador' 'Armenia' 'Jamaica' 'Tajikistan' 'Saint Kitts and Nevis'
 'Senegal' 'Dominica' 'Brunei' 'Nepal' 'Dominican Republic' 'Iraq'
 'Marshall Islands' 'Nicaragua' 'Palestine' 'Georgia' 'Cambodia'
 'Indonesia' 'Bolivia' 'Maldives' 'Morocco' 'El Salvador' 'Cape Verde'
 'Honduras' 'Rwanda' 'Sri Lanka' 'Liberia' 'Burkina Faso' 'Azerbaijan'
 'Seychelles' 'Bhutan' 'Lesotho' 'Venezuela' 'Guatemala' 'Western Sahara'
 'Micronesia' 'Gabon' 'Iran' 'Antigua and Barbuda' 'Mali' 'Togo' 'Fiji'
 'Myanmar' 'Haiti' 'Tanzania' 'Namibia' 'Kenya' 'Somalia' 'Djibouti'
 'Lebanon' 'Zimbabwe' 'Nigeria' 'Zambia' 'Benin' 'Vanuatu' 'Libya'
 'Suriname' 'Angola' 'Ethiopia' 'Cameroon' 'Pakistan' 'Papua New Guinea'
 'Sierra Leone' 'Uganda' 'Syria' 'Malawi' 'Gambia' 'Niger' 'Mauritania'
 'Botswana' 'Burundi' 'Tunisia' 'Algeria' 'Mozambique' 'Guinea'
 'Afghanistan' 'Equatorial Guinea' 'Sudan' 'Yemen' 'Turkmenistan' 'Cuba']
[103 141  64 129 152  39 157  32  51 146  65  87 167 147  33 165  30  90
  75 151  89   3 112 117 111  71 127 126 102 154  79  88  96 121  55  82
  50  16  70 135 143 142 128  23  14  93  72 166 130 136   9  47 138  25
 159  76   8 172 164  12 123  34 125 168  15  36 118  61  66  77  11 105
   6 124  58  35  38 100 145 134 104 133  56  80  21  81 169   1 161 116
  91  73  17  13  44  99  57  43   7  74 155 132 137  41  24 110  42  69
  97 113 120  54  28  67  20  94 106  45  31  63 131 148  85  26  10 139
  19  84 171  59 173 101  52  68   5  95 158  49 108  62 156 109  78 144
  40  83 176 115 175  18 170  86 150   4  48  29 119 122 140 163 153  92
  53 114  98  22  27 160   2 107  60   0  46 149 174 162  37]
[261.82 255.83 254.7  232.17 229.96 227.91 225.17 217.6  214.04 212.57
 210.55 204.78 203.81 201.47 196.57 189.07 183.81 178.9  178.76 174.9
 172.05 171.44 170.51 168.25 165.   162.66 162.55 156.33 154.56 152.01
 149.37 147.05 144.06 137.38 136.66 135.22 135.05 125.12 122.55 121.4
 115.61 115.11 113.88 113.09 109.41 107.55 104.09 102.24  95.96  94.64
  94.31  88.49  86.77  86.75  85.8   84.12  82.73  78.34  76.82  73.95
  72.5   72.19  71.85  69.91  69.41  69.09  68.28  65.93  64.03  63.28
  61.75  60.03  58.87  58.73  57.07  56.39  55.11  54.88  54.75  53.77
  53.53  52.3   52.1   51.07  48.51  48.16  45.88  45.55  43.48  43.24
  42.84  40.64  40.62  40.31  39.97  39.85  39.08  39.07  38.95  37.84
  35.45  35.01  34.9   34.59  33.87  32.26  31.66  31.64  29.94  29.46
  28.61  28.32  27.83  27.8   27.42  27.21  27.04  26.94  26.93  26.26
  26.08  25.68  25.54  25.1   24.9   24.76  24.64  23.92  23.72  23.02
  22.54  22.5   21.36  21.24  20.82  20.76  20.69  20.67  19.77  19.58
  19.35  18.98  18.27  18.22  17.81  17.65  17.24  16.23  16.18  16.12
  15.93  14.86  14.17  13.94  13.84  13.68  13.56  13.55  12.72  12.7
  12.24  11.68  11.55  11.21  11.18  11.13  10.43   9.27   8.84   8.26
   7.95   7.92   7.59   4.11   4.01]
[174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157
 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139
 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121
 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103
 102 101 100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85
  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67
  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49
  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31
  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13
  12  11  10   9   8   7   6   5   4   3   2   1   0]
[   nan 105.01  83.58  59.67 135.7  112.03  56.9   21.23  86.51 202.61
  60.16 110.07  61.62 165.38 238.06  95.78  62.31  69.02 103.08 116.76
  75.91 177.72 106.98  48.3   59.91  57.23  42.99  95.51 157.18  66.25
  70.73  20.44  83.06  50.07  88.23  69.76  62.66  74.84  56.01 172.18
  33.92  31.34  55.41  86.56  28.99 155.97  71.81  75.29  53.82 142.27
  41.12  27.61 135.3   43.32  31.95  86.04  20.65  18.33  35.03  38.08
  19.41 114.76  91.21  17.89  31.74  44.48  29.77  24.82  34.01 144.64
  34.33  52.19  21.34  12.9   24.71  36.61  30.93  19.29  61.56  48.85
  64.02  18.36  13.43  24.95  30.28  92.54  24.62  34.53  44.23  16.15
  23.59  67.32  22.39  31.45  42.33  26.59   7.57  39.84  23.75  23.12
  22.57  66.9   39.52  26.85  30.84  16.58  40.69   7.68  29.69  35.48
  29.79  36.08  28.51  28.19  19.71  13.23  23.18  22.14  14.74  32.64
  24.74  18.98  16.03  42.97  25.87  26.17  31.18  19.82  19.02  19.21
  19.96  35.57  18.1   25.02   7.27  14.51]
[135 118 108  89 125 121  87  25 110 133  91 120  93 130 134 116  94 100
 117 123 106 132 119  80  90  88  76 115 129  97 102  23 107  82 112 101
  95 104  86 131  60  55  85 111  47 128 103 105  84 126  73  44 124  77
  58 109  24  13  64  69  19 122 113  11  57  79  49  37  61 127  62  83
  26   3  35  68  53  18  92  81  96  14   5  38  51 114  34  63  78   9
  32  99  28  56  74  42   1  71  33  30  29  98  70  43  52  10  72   2
  48  65  50  67  46  45  20   4  31  27   7  59  36  15   8  75  40  41
  54  21  16  17  22  66  12  39   0   6]

In [55]:
dataset

     country  broadband  mobile
0        103        174     135
1        141        173     118
2         64        172     108
3        129        171      89
4        152        170     125
..       ...        ...     ...
172       46          4     135
173      149          3       6
174      174          2     135
175      162          1     135
176       37          0      39

[177 rows x 3 columns]

In [56]:
x = data.drop(['country'], axis=1)
y = data['country']
y

0      103
1      141
2       64
3      129
4      152
      ...
172     46
173    149
174    174
175    162
176     37
Name: country, Length: 177, dtype: int32

In [57]:
#Train test split 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, 
                                                    random_state = 0)

In [58]:
#lihat jumlah data train & testing 
print(x_train.shape)
print(y_test.shape)

(132, 2)
(45,)

In [59]:
from sklearn.naive_bayes import GaussianNB 

model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [60]:
#pemodelan training
y_pred = model.predict(x_train)
y_pred
print(y_pred)

y_pred_test = model.predict(x_test)
print(y_pred_test)

[151   5  58 144  30 101  49 143 122 112  97 174  40 105  92 109 126  80
  95  43  31  53 125  64  12  99  57  23  65 113 124  60 140 120 139 106
  62 107   9  48 116  15  85  10  77 136 130  81 147  52 117  98  89 165
 145 138 155  38 129 162  69 157  66  35  21 173 167 158  86  33 103  73
 150  72  87  63 137  82 172 142  37  36 141 131  29 128 110   4  90  70
  68  25 108 171  55 102  20  88 176  84 119  96  78  18 115 154  74  56
 134  94 175   0   6 100  71 133  27   2 135 164 156 161  11   1  50   3
 146  41  61  45 166  46]
[172  18 125 130  85 171 130 119  99 133  27  29 141  99  29  80 130  90
  15   9  12 143 141  94  15  69  84  73  20  53 126  25  95  23  64 128
 119  41  43   0 151 117 155  41  20]

In [61]:
# y pred vs y actual

from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_pred, y_train))

print(classification_report(y_pred, y_train))

[[1 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 ...
 [0 0 0 ... 1 0 0]
 [0 0 0 ... 0 1 0]
 [0 0 0 ... 0 0 1]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1
           2       1.00      1.00      1.00         1
           3       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         1
           5       1.00      1.00      1.00         1
           6       1.00      1.00      1.00         1
           9       1.00      1.00      1.00         1
          10       1.00      1.00      1.00         1
          11       1.00      1.00      1.00         1
          12       1.00      1.00      1.00         1
          15       1.00      1.00      1.00         1
          18       1.00      1.00      1.00         1
          20       1.00      1.00      1.00         1
          21       1.00      1.00      1.00         1
          23       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         1
          27       1.00      1.00      1.00         1
          29       1.00      1.00      1.00         1
          30       1.00      1.00      1.00         1
          31       1.00      1.00      1.00         1
          33       1.00      1.00      1.00         1
          35       1.00      1.00      1.00         1
          36       1.00      1.00      1.00         1
          37       1.00      1.00      1.00         1
          38       1.00      1.00      1.00         1
          40       1.00      1.00      1.00         1
          41       1.00      1.00      1.00         1
          43       1.00      1.00      1.00         1
          45       1.00      1.00      1.00         1
          46       1.00      1.00      1.00         1
          48       1.00      1.00      1.00         1
          49       1.00      1.00      1.00         1
          50       1.00      1.00      1.00         1
          52       1.00      1.00      1.00         1
          53       1.00      1.00      1.00         1
          55       1.00      1.00      1.00         1
          56       1.00      1.00      1.00         1
          57       1.00      1.00      1.00         1
          58       1.00      1.00      1.00         1
          60       1.00      1.00      1.00         1
          61       1.00      1.00      1.00         1
          62       1.00      1.00      1.00         1
          63       1.00      1.00      1.00         1
          64       1.00      1.00      1.00         1
          65       1.00      1.00      1.00         1
          66       1.00      1.00      1.00         1
          68       1.00      1.00      1.00         1
          69       1.00      1.00      1.00         1
          70       1.00      1.00      1.00         1
          71       1.00      1.00      1.00         1
          72       1.00      1.00      1.00         1
          73       1.00      1.00      1.00         1
          74       1.00      1.00      1.00         1
          77       1.00      1.00      1.00         1
          78       1.00      1.00      1.00         1
          80       1.00      1.00      1.00         1
          81       1.00      1.00      1.00         1
          82       1.00      1.00      1.00         1
          84       1.00      1.00      1.00         1
          85       1.00      1.00      1.00         1
          86       1.00      1.00      1.00         1
          87       1.00      1.00      1.00         1
          88       1.00      1.00      1.00         1
          89       1.00      1.00      1.00         1
          90       1.00      1.00      1.00         1
          92       1.00      1.00      1.00         1
          94       1.00      1.00      1.00         1
          95       1.00      1.00      1.00         1
          96       1.00      1.00      1.00         1
          97       1.00      1.00      1.00         1
          98       1.00      1.00      1.00         1
          99       1.00      1.00      1.00         1
         100       1.00      1.00      1.00         1
         101       1.00      1.00      1.00         1
         102       1.00      1.00      1.00         1
         103       1.00      1.00      1.00         1
         105       1.00      1.00      1.00         1
         106       1.00      1.00      1.00         1
         107       1.00      1.00      1.00         1
         108       1.00      1.00      1.00         1
         109       1.00      1.00      1.00         1
         110       1.00      1.00      1.00         1
         112       1.00      1.00      1.00         1
         113       1.00      1.00      1.00         1
         115       1.00      1.00      1.00         1
         116       1.00      1.00      1.00         1
         117       1.00      1.00      1.00         1
         119       1.00      1.00      1.00         1
         120       1.00      1.00      1.00         1
         122       1.00      1.00      1.00         1
         124       1.00      1.00      1.00         1
         125       1.00      1.00      1.00         1
         126       1.00      1.00      1.00         1
         128       1.00      1.00      1.00         1
         129       1.00      1.00      1.00         1
         130       1.00      1.00      1.00         1
         131       1.00      1.00      1.00         1
         133       1.00      1.00      1.00         1
         134       1.00      1.00      1.00         1
         135       1.00      1.00      1.00         1
         136       1.00      1.00      1.00         1
         137       1.00      1.00      1.00         1
         138       1.00      1.00      1.00         1
         139       1.00      1.00      1.00         1
         140       1.00      1.00      1.00         1
         141       1.00      1.00      1.00         1
         142       1.00      1.00      1.00         1
         143       1.00      1.00      1.00         1
         144       1.00      1.00      1.00         1
         145       1.00      1.00      1.00         1
         146       1.00      1.00      1.00         1
         147       1.00      1.00      1.00         1
         150       1.00      1.00      1.00         1
         151       1.00      1.00      1.00         1
         154       1.00      1.00      1.00         1
         155       1.00      1.00      1.00         1
         156       1.00      1.00      1.00         1
         157       1.00      1.00      1.00         1
         158       1.00      1.00      1.00         1
         161       1.00      1.00      1.00         1
         162       1.00      1.00      1.00         1
         164       1.00      1.00      1.00         1
         165       1.00      1.00      1.00         1
         166       1.00      1.00      1.00         1
         167       1.00      1.00      1.00         1
         171       1.00      1.00      1.00         1
         172       1.00      1.00      1.00         1
         173       1.00      1.00      1.00         1
         174       1.00      1.00      1.00         1
         175       1.00      1.00      1.00         1
         176       1.00      1.00      1.00         1

    accuracy                           1.00       132
   macro avg       1.00      1.00      1.00       132
weighted avg       1.00      1.00      1.00       132

In [ ]:
#1.00 = 100% menandakan akurasi prediksi sebesar 100% dari data aslinya